// Fonts
$base-font: 'Montserrat';

// Colors
$action-color: #F6931D;
$gray-color: #545253;
$light-gray-color: #747375;
$green-color: #A0BC57;
$turquoise-color: #6EB7C2;
$red-color: #D50303;
$background-color-1: #ECF8FB;
$background-color-2: #EFEFEF;
