*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif; }

.header {
  background-color: #545253;
  display: flex;
  justify-content: center;
  padding: 20px 0; }
